

<footer>
  <div class="container">
    <div class="footer-content">
      <div class="footer-section">
        <h5>Support</h5>
        <ul>
          <li><a href="#">Help Center</a></li>
          <li><a href="#">AirCover</a></li>
          <li><a href="#">Anti-discrimination</a></li>
          <li><a href="#">Disability support</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h5>Hosting</h5>
        <ul>
          <li><a href="/listings/new">stayFinder your home</a></li>
          <li><a href="#">Hosting resources</a></li>
          <li><a href="#">Community forum</a></li>
          <li><a href="#">Hosting responsibly</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h5>stayFinder</h5>
        <ul>
          <li><a href="#">Newsroom</a></li>
          <li><a href="#">New features</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Investors</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <div
        class="d-flex flex-column footer-copy flex-md-row align-items-center"
      >
<div class="f-info-brand">
  &copy; 2026 
  <span style="color:#f49ea4; font-weight: 700;">stayFinder</span> · 
  Built with ❤️ by <b>&nbsp;Sachin Pandey</b>
</div>
        <div class="f-info-links ms-md-3 mt-2 mt-md-0">
          <a href="/privacy">Privacy</a>
          <a href="/terms">Terms</a>
          <a href="#">Sitemap</a>
        </div>
      </div>
      <div class="f-info-socials">
  <a href="https://x.com/Sachin23Pandey" target="_blank">
    <i class="fa-brands fa-x-twitter"></i>
  </a>

  <a href="https://linkedin.com/in/sachin-pandey-9455a7262" target="_blank">
    <i class="fa-brands fa-linkedin-in"></i>
  </a>

  <a href="https://github.com/Sachin23Pandey" target="_blank">
    <i class="fa-brands fa-github"></i>
  </a>

  <a href="mailto:sachinpandey2423@gmail.com">
    <i class="fa-solid fa-envelope"></i>
  </a>
</div>
    </div>
  </div>
</footer>
