

<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container-fluid px-md-5">
    <a class="navbar-brand" href="/">
  <div class="brand-logo d-flex align-items-center gap-2">
  <img src="/logo.svg" alt="stayFinder Logo" class="logo-img" />
  <span class="brand-wander">
    stay<span class="brand-lust">Finder</span>
  </span>
</div>
    </a>

    <button class="navbar-toggler border-0 shadow-none" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav flex-grow-1 justify-content-center">
        <form class="d-flex search-container align-items-center" role="search" action="/listings" method="GET">
          <input class="form-control search-inp" name="search" type="search" placeholder="Start your search"
            aria-label="Search" />
          <button class="btn search-btn" type="submit">
            <i class="fa-solid fa-magnifying-glass" style="font-size: 0.8rem"></i>
          </button>
        </form>
      </div>

      <div class="navbar-nav align-items-center gap-2">
        <a class="nav-link" href="/listings">Explore</a>
        <a class="nav-link" href="/listings/new">Host</a>

        <% if (!currUser) { %>
          <a class="nav-link" href="/signup">Sign up</a>
          <a class="nav-link text-decoration-none" href="/login">
            <div class="btn rounded-pill login-btn-custom">Log in</div>
          </a>
          <% } else { %>
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button"
                data-bs-toggle="dropdown">
                <div class="user-avatar">
                  <%= currUser.username.charAt(0).toUpperCase() %>
                </div>
              </a>
              <ul class="dropdown-menu dropdown-menu-end shadow border-0 mt-3 animate slideIn">
                <li><a class="dropdown-item py-2" href="/logout"><i class="fa-solid fa-right-from-bracket me-2"></i> Logout</a></li>
              </ul>
            </div>
            <% } %>
      </div>
    </div>
  </div>
</nav>